footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    a {
        color: white;
    }
    h3 {
        font-family: 'shrikhand';}
    ul {
        list-style: none;
    }
}