footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    color: white;
    font-size: large;
    a {
        color: white;
        text-decoration: none;
    }
    h3 {
        font-family: 'shrikhand';
        font-size: x-large;
        font-weight: 400;
        margin:1rem 0 0 2rem}
    ul {
        list-style: none;
        margin-top:1rem;
    }
    li{
        margin:0.2rem;
    }
}
.fas.fa-utensils{
    margin-right:0.8rem;
    font-size: small;
}
.fas.fa-hands-helping{
    margin-right:0.4rem;
    font-size: smaller;
}