@font-face {
  font-family: "shrikhand";
  src: url("../police/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../police/Roboto-Regular.ttf");
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0.3rem;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header .fas.fa-arrow-left {
  color: #1b1b1b;
  font-size: large;
  text-align: center;
  position: absolute;
  padding: 0.5rem;
  left: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  color: white;
  font-size: large;
}
footer a {
  color: white;
  text-decoration: none;
}
footer h3 {
  font-family: "shrikhand";
  font-size: x-large;
  font-weight: 400;
  margin: 1rem 0 0 2rem;
}
footer ul {
  list-style: none;
  margin-top: 1rem;
}
footer li {
  margin: 0.2rem;
}

.fas.fa-utensils {
  margin-right: 0.8rem;
  font-size: small;
}

.fas.fa-hands-helping {
  margin-right: 0.4rem;
  font-size: smaller;
}

button {
  background-image: linear-gradient(#FF79da, #9356DC);
  box-shadow: 3px 3px 3px #F5F5F5;
  border-radius: 2rem;
  width: 250px;
  height: 50px;
  margin: 1rem 0 2rem 0;
  color: white;
  font-weight: 600;
  font-size: medium;
  border: none;
}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
  }

  .articles {
    flex-direction: column;
    justify-content: space-between;
  }

  .fas.fa-store {
    color: #9356DC;
  }
}
body {
  margin: 0;
  font-family: "roboto";
}

.search_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 40px;
  background-color: #EFEFEF;
}
.search_bar i {
  font-size: large;
  margin: 0.6rem;
  margin-right: 0;
}
.search_bar form {
  text-align: center;
  height: 40px;
}
.search_bar form input {
  background-color: #EFEFEF;
  border: none;
  font-size: medium;
  font-weight: 560;
  margin: 0.6rem;
  margin-left: 0;
  text-align: center;
  width: max-content;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #F5F5F5;
  padding: 2rem 0;
}

p {
  font-weight: 300;
  color: #1d1c1c;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 2rem 0 1rem 0;
}
.fonctionnement h2 {
  margin: 0 0 0 1rem;
}
.fonctionnement ol {
  list-style: none;
  counter-reset: li;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fonctionnement ol li {
  counter-increment: li;
  position: relative;
  background-color: #F5F5F5;
  font-weight: bold;
  box-shadow: 3px 3px 3px #EFEFEF;
  border-radius: 1rem;
  margin: 1rem 0 1rem 0;
  padding: 1.5rem 0 1.5rem 1rem;
  width: 250px;
}
.fonctionnement ol li::before {
  content: counter(li);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  --size: 20px;
  left: calc(-1 * var(--size) + 5px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  text-align: center;
}

.fas.fa-mobile-alt, .fas.fa-list-ul, .fas.fa-store {
  color: grey;
  margin: 0 0.5rem 0 0.5rem;
}

.fas.fa-mobile-alt:hover, .fas.fa-list-ul:hover, .fas.fa-store:hover {
  color: #9356DC;
  transition-duration: 60s;
}

.restaurants {
  background-color: #F5F5F5;
  padding: 2rem 0.5rem 2rem 0.5rem;
}
.restaurants h2 {
  margin-left: 0.5rem;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 1rem 0;
}
.articles img {
  width: 350px;
  height: 250px;
  border-radius: 1rem 1rem 0 0;
  margin: 0;
  float: inline-start;
}
.articles a {
  height: 200px;
}
.articles figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 1rem;
  padding: 0 0 1rem 0;
}
.articles figure figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0 0 1rem 1rem;
}
.articles figure h3 {
  margin: 0;
}
.articles figure .far.fa-heart {
  font-size: xx-large;
  margin: 0.5rem 0.2rem;
  cursor: pointer;
}
.articles figure .far.fa-heart:hover {
  color: #FF79da #9356DC;
}

a {
  text-decoration: none;
}

.intro2 {
  display: flex;
  flex-direction: column;
}
.intro2 figure {
  width: 350px;
  position: absolute;
  padding: 0;
  margin: 0;
}

.entrees {
  position: relative;
  top: 200px;
  background-color: #F5F5F5;
  border-radius: 18px 18px 0 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.entrees .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.entrees article {
  background-color: white;
}
.entrees article h4, .entrees article h5 {
  margin: 0;
  font-size: small;
}
.entrees .fas.fa-heart {
  position: relative;
  bottom: -20px;
  font-size: x-large;
}