@font-face {
  font-family: "shrikhand";
  src: url("../police/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "roboto";
  src: url("../police/Roboto-Regular.ttf");
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
footer a {
  color: white;
}
footer h3 {
  font-family: "shrikhand";
}
footer ul {
  list-style: none;
}

button {
  background-image: linear-gradient(#FF79da, #9356DC);
  box-shadow: 2px 2px 2px #f4f4f4;
  border-radius: 2rem;
  width: 250px;
  height: 50px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border: none;
}

html {
  padding: 0.2rem;
}

@media screen and (max-width: 420px) {
  body {
    margin: 0;
    font-family: "roboto";
  }

  .search_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #C0C0C0;
  }
  .search_bar i {
    font-size: large;
    padding: 0.4rem;
  }
  .search_bar form {
    text-align: center;
    height: 40px;
  }
  .search_bar form input {
    background-color: #C0C0C0;
    border: none;
    font-size: medium;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #DCDCDC;
  }

  p {
    font-weight: 300;
    color: #1d1c1c;
  }

  .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fonctionnement ol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .restaurants article {
    display: flex;
  }
  .restaurants figure {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
p {
  font-family: "roboto";
}