    body {
        margin:0;
        font-family: "roboto";
    }
    .search_bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        height: 40px;
        background-color:$background1 ;
        i{
            font-size: large;
            margin:$petit-rem + 0.1;
            margin-right: 0;
        }
        form{
            text-align: center;
            height: 40px;
            input{
                background-color: $background1;
                border:none;
                font-size: medium;
                font-weight: 560;
                margin: $petit-rem + 0.1;
                margin-left:0;
                text-align:center;
                width: max-content;
            }
        }
    }

    .intro{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        background-color: $background2 ;
        padding:2rem 0;
    }
    p{
        font-weight: 300;
        color: rgb(29, 28, 28);
    }

    .fonctionnement{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        margin:0;
        padding:2rem 0 1rem 0;
        h2{
            margin:0 0 0 1rem;
        }
        ol{
            list-style: none;
            counter-reset: li;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                counter-increment: li;
                position: relative;
                background-color: $background2;
                font-weight: bold;
                box-shadow: 3px 3px 3px $background1;
                border-radius:1rem;
                margin:1rem 0 1rem 0;
                padding:1.5rem 0 1.5rem 1rem;
                width: 250px;
            }
            li::before{
                content:counter(li);
                color: white;
                font-size: 1rem;
                font-weight: bold;
                position: absolute;
                --size: 20px;
                left: calc(-1 * var(--size) + 5px);
                line-height: var(--size);
                width: var(--size);
                height: var(--size);
                top: 25px;
                background-color: $primary;
                border-radius: 50%;
                text-align: center;
            }
        }   
    }
    .fas.fa-mobile-alt , .fas.fa-list-ul , .fas.fa-store{
        color:grey;
        margin:0 0.5rem 0 0.5rem;
    }
    .fas.fa-mobile-alt:hover , .fas.fa-list-ul:hover , .fas.fa-store:hover{
        color:$primary;
        transition-duration: 60s;
    }

    .restaurants{
        background-color: $background2;
        padding:2rem 0.5rem 2rem 0.5rem;
        h2{
            margin-left:0.5rem;
        }
    }
    .articles{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin:1rem 0 1rem 0;
        img{
            width:350px;
            height: 250px;
            border-radius: 1rem 1rem 0 0;
            margin:0;
            float: inline-start;
        }    
        a{
            height: 200px;
        }
        figure{
            display:flex;
            flex-direction: column;
            margin:0;
            border-radius: 1rem;
            padding:0 0 1rem 0;
                figcaption{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: white;
                    margin:0;
                    padding:0.5rem;
                    border-radius: 0 0 1rem 1rem;
                }
            h3{
                margin:0;
            }
            .far.fa-heart{
               font-size: xx-large;
               margin:0.5rem 0.2rem;
               cursor: pointer;
            }
            .far.fa-heart:hover{
                color:$secondary $primary;
            }
        }

    }
    a {
        text-decoration: none; }
@media screen and (max-width:375px){
    body{
        max-width: 375px;
    }
    .articles{
        flex-direction: column;
        justify-content: space-between;
    }
    .fas.fa-store{
        color:$primary}
}
