@media screen and (max-width:420px){
    .intro2{
        display:flex;
        flex-direction: column;
        figure{
            width:350px;
            position: absolute;
            padding:0;
            margin: 0;}
        }
        .entrees{
            position: relative;
            top: 200px;
            background-color: $background2 ;
            border-radius: 15px 15px 0 0;
            padding:1rem;
            display: flex;
            flex-direction: column;
            .titre{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            
            }
        .fas.fa-heart{
            position:relative;
            bottom:-20px;
            font-size: x-large;
        }
        }

}

