    main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .intro2{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        img{
            width: 375px;
        }
        figure{
            width:350px;
            position: relative;
            padding:0;
            margin: 0;}
        }
        .titre{
            display:flex;
            flex-direction: row;
            border-radius: 15px 15px 0 0;
            justify-content: space-around;
            font-family: "shrikhand";
            font-size: small;
            background-color: $background2;
            position:absolute;
            top:225px;
            width: 100%;

            .fas.fa-heart{
                position:relative;
                bottom:-20px;
                font-size: x-large;
            }
        }
        .entrees, .plats, .desserts{
            background-color: $background2 ;
            padding:1rem;
            display: flex;
            flex-direction: column;
        }
            article{
                background-color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h5{
                    opacity: 0.4;
                    margin:0;
                }
                h4{
                    margin:0;
                }
                .nomplats{
                    display: flex;
                    justify-items: center;
                    flex-direction: column;
                    padding:0.5rem;
                    margin:0;
                    font-size: small;
                }
                .fas.fa-check-circle{
                    position:relative;
                    background-color: rgba(65, 219, 65, 0.664);
                    padding:1rem;
                    margin:0;
                    color: white;
                    font-size: medium;
                }
        }


